.menu {
  width: 100%;
  user-select: none;
  font-size: .7em;
  cursor: pointer;
  color: #cecece;
}

.menu i {
  font-size: .8em;
  font-style: normal;
  position: absolute;
  top: 6px;
  left: 10px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.menu ul > ul {
  display: none;
  padding-left: 15px;
}

.menu ul.expanded {
  display: block;
}

.menu li {
  position: relative;
  padding: 3px 10px;
  width: 100%;
}

.menu span:hover {
  color: rgb(252, 236, 95);
  color: var(--highlight);
  transition: color 300ms ease-out;
}

.menu li span.selected {
  color: palegreen;
}

.menu li span {
  position: relative;
  left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
