.menu {
  width: max-content;
  user-select: none;
  font-size: large;
  cursor: pointer;
  overflow-y: auto;
}

.menu i {
  font-style: normal;
  font-weight: bolder;
}

.menu ul {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul > ul {
  display: none;
  margin-left: 15px;
  padding-left: 10px;
}

.menu ul.expanded {
  display: block;
}

.menu li {
  padding: 5px 10px;
  /* background: linear-gradient(#858484, #4f4f50); */
}

.menu li.leaf {
  padding-left: 10px;
}

.menu li:hover {
  color: yellow;
  transition: color 200ms ease-out;
}
